node_modules/
package-lock.json
server.log
test-results/
*.env 
*.code-workspace

Website_spec_indiv.md
Website_spec_platform.md
TASKMASTER_LIFECYCLE.md
Gitflow.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
